
/* Your CSS Code here. */
<style>
        body {
            font-family: sans-serif;
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        thead {
            background-color: #f2f2f2;
        }
        .row-header {
            font-weight: bold;
            text-align: left;
        }
    </style>
